{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'website/css/style.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="content">
                <h3>KickOff</h3>
                <div>
                    <ul class="nav-menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Football Stars</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>