{% extends 'website/base.html'%}
{% load static %}
{% block style %}
<link type="text/css" href="{% static 'website/css/index.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-4 mx-auto">
        <form method="post">
            {% csrf_token %}
            {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}:</label>{{f}}</p>
            <div class="form-error">{{f.errors}}</div>
            {% endfor %}
            <button type="submit" class="btn btn-outline-primary">Register</button>
        </form>
    </div>
</div>
{% endblock %}