.card{
    background-color: whitesmoke;
    border: 0.2px solid gray;
    border-radius: 20px;
    min-height: 130px;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}
.card h2{
    margin: 0 0 10px;
}
.card p{
    font-size: 18px;
}
.card li{
    list-style-type: none;
}
.card a{
    text-decoration: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    display: block;
    background-color: forestgreen;
    width: 70px;
    height: 30px;
}
img.img-article-left {
	max-width: 300px;
	height: auto;
	float: left;
	padding: 0 10px 10px 0;
}

img.img-article-left.thumb {
	max-width: 150px;
	height: auto;
}

p.link-read-post {
	text-align: right;
}
p.link-read-post a {
	padding: 10px;
	min-width: 100px;
	background: #333671;
	color: #fff;
	text-decoration: none;
}

div.article-panel {
    background: #eee;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    overflow: hidden;
    color: #555;
}
div.article-panel p.first {
    margin: 0;
    float: left;
}
div.article-panel p.last {
    margin: 0;
    float: right;
}

ul.list-articles {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.list-articles li {
	border-bottom: 1px solid #ccc;
}